.bg-secondary
{
    background: #252527 !important;
}
.masthead
{
    background: #181819 !important;
    padding-top: 0 !important;
}
#mainNav
{
    padding: 0 1em!important;
}
.navbar-brand img
{
    max-width: 11.5rem !important;
}
#mainNav .navbar-brand
{
    font-size: 0 !important;
    padding: 0 !important;
}

.main_jumbotron
{
    height: 100vh;
    flex-direction: row!important;
    justify-content: center;
}

#mainNav .navbar-toggler
{
    font-size: 1em!important;
    padding: 0!important;
    margin: 0.5rem!important;
    margin-right: 0!important;
    border-radius: 100%!important;
    background-color: #fb6b6d!important;
    width: 3em!important;
    height: 3em!important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover
{
    color: #fb6b6d;
}

#mainNav .navbar-toggler:hover
{
    background-color: #d45b5d!important;
}

@media (min-width: 992px)
    {
        .masthead .masthead-heading
        {
            font-size: 3rem;
        }
        
        .navbar-brand img
        {
            max-width: 9.5rem !important;
        }
}
